/* General */
 *, *::before, *::after{
     box-sizing: border-box;
}
 body {
     overflow-x: hidden;
	 margin:0px;
}

html, html body, h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", sans-serif;
}

/* Header */
 .nav-toggle span.bar {
     display: block;
     width: 35px;
     background-color: aqua;
     height: 3px;
}
 .humburger{
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     height: 25px;
}
 button.nav-toggle {
     background-color: transparent;
     cursor: pointer;
     height: 25px;
     display: none;
     position: relative;
     align-self: center;
     border:none;
}

 nav ul {
     list-style-type: none;
     display: flex;
     flex-wrap: wrap;
     padding-left:0;
}

nav ul span.active-page {
    min-width: 100%;
    height: 3px;
    background-color: aqua;
    position: relative;
    display: block;
    bottom: -20px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

 @media all and (min-width:665px){
     html{
         font-size:13px;
    }
}
/* Small screens */
 @media all and (max-width: 665px) {
     button.nav-toggle {
         display: block;
    }
    nav ul {
		flex-direction: column;
		justify-content: space-between;
	}
	
	.clicked span.bar:first-child {
		transform: rotate(45deg);
	}
	
	.clicked span.bar:last-child {
		transform: rotate(225deg);
	}
	
	.clicked span.bar:nth-child(2) {
		opacity:0;
	}
	
	nav ul span.active-page{
		margin-bottom:-14px;
	}
	
	.active-page.active-page-home{
		margin-bottom:0px;
	}
	
	span.humburger.clicked {
		position: relative;
		top: 10px;
		transform: scale(.85);
		left: -7px;
	}
	
	.hide .active-page {
		top: -1px;
	}
	
	nav.hide {
		left: 9px;
		text-align: center;
	}
	
	.clicked span.bar:last-child {
		transform: rotate(-45deg);
		position: relative;
		top: -20.6px;
	}
	
     nav {
         background-color: black;
         transform: translateX(-200%);
         position: absolute;
         z-index: 600;
         top: 80px;
         left: 7px;
         box-shadow: 0 0 5px 2px #282a2d;
    }
     .hide{
         transform: translateX(0%);
    }
	
	
	
     html{
         font-size:11px;
    }
     header {
         padding: 10px 15px;
         justify-content: space-between !important;
    }
}
 nav li {
     margin: .5rem;
}
 nav li a {
     text-decoration: none;
     font-size: 1rem;
     color: cornsilk;
     padding: .20rem;
     letter-spacing: 3px;
}
 header {
     display: flex;
     justify-content: space-around;
     background-color: #040404;
     max-height: 57px;
     margin-bottom: 50px;
     box-sizing: content-box;
     box-shadow: 0 0 5px 2px #282a2d;
}
 header img {
     position: relative;
     align-self: center;
     width: auto;
     max-height: 50px;
	 top: 3px;
}

header img:hover {
     transform: scale(1.1);
}

a#email:hover {
     border: 1px solid rgba(0, 0, 0, 0);
     color: white;
}
/* Footer */
 footer {
     clear: both;
     min-width: 100%;
     margin-top: 40px;
     background-color: #040404;
     box-shadow: 0 0 5px 2px #282a2d;
     padding-top: 20px;
}
 footer ul img {
     width: 3.125rem;
     height: 3.125rem;
}
 footer ul {
     list-style-type: none;
     display: flex;
     justify-content: space-evenly;
     padding-left: 0;
}
 footer a {
     margin: auto;
     max-width: 100px;
     text-decoration: none;
     display: flex;
}
 a#email {
     width: 6.25rem;
     color: wheat;
     border: 1px solid darkgray;
     font-size: 1.2rem;
     text-align: center;
     padding-left: .625rem;
}
 footer p {
     color: wheat;
     width: 150px;
     text-align: center;
     margin: auto;
     padding-bottom: 20px;
}
 footer ul img:hover {
     transform: scale(1.1);
}
/* main */
 .main-buttons {
     display: flex;
     justify-content: center;
     margin-top: 30px;
}
 main img {
     max-width: 58.14%;
     height: auto;
     box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.25em 0.12em 0.25em rgba(0,0,0,0.25);
}
 .intro {
     display: flex;
     width: 32.25rem;
     margin: auto;
     position: relative;
     left: 1rem;
}


.intro-discription h2 {
    width: 34.375rem;
    text-align: right;
    position: relative;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    right: 20.9375rem;
    background-color: aqua;
    padding: 10px 5px;
    z-index: -5;
    font-size: 1.25rem;
}

 .intro-discription h1 {
     font-weight: 200;
     padding-left: 10px;
	 min-height: 64px;
}
h1 span#name {
    font-weight: 900;
    display: block;
}
 .intro-discription {
     padding-top: 10rem;
}


/*Intro Mobile View*/

@media screen and (max-width:440px){
	.intro {
		display: flex;
		width: 100%;
		margin: auto;
		position: relative;
		flex-direction: column-reverse;
	}
	
	.intro-discription {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		padding-top: 0;
	}
	
	.intro-discription h2 {
		width: 90%;
		text-align: center;
		background-color: aqua;
		padding: 10px 5px;
		z-index: -5;
		font-family: monospace;
		font-size: 1.25rem;
		right: 0;
		display: block;
		margin: 0 auto 20px;
	}
	
	.intro{
		left: 0px;
	}
	
	.intro-discription h1 {
		font-weight: 200;
		padding-left: 10px;
		text-align: center;
		min-height: 54px;
	}
	
	main img {
		margin: auto;
	}
	
}



/* Services */

section.service, .service-summary {
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.25em 0.12em 0.25em rgba(0,0,0,0.25);
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
    background: linear-gradient(to left bottom, white, #f5faf5, #dcfcfc);
}


.service-body-img-left {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.service-body-img-right {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

@media screen and (max-width:500px){
	.service-body-img-left {
		grid-template-columns: 1fr;
	}

	.service-body-img-right {
		grid-template-columns: 1fr;
	}
}

main.service-main img {
    max-width: 15rem;
	margin:auto;
}

main.service-main {
    margin: auto;
    max-width: 750px;
    padding: 0 20px;
	font-size: 13px;
}

p.service-body {
    margin: auto;
    display: flex;
    padding: 20px;
}

.service-summary {
    margin-top: 50px;
}


.service-main img:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
}


/* Contact Me*/
 main.main-contactme {
     max-width: 500px;
     margin: 70px auto;
     padding: 5px;
	 background: linear-gradient(to left bottom, white, #f5faf5, #dcfcfc);
}

form {
    border-radius: 10px;
    padding: 15px;
    color: black;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.25em 0.12em 0.25em rgba(0,0,0,0.25);
}

input[type="email"] {
    border: none;
    margin-left: 10px;
    border-bottom: 2px solid;
    text-align: center;
}

textarea {
    max-width: 100%;
    margin: 15px auto;
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    padding: 15px;
}

span.required-key {
    color: red;
    position: relative;
    right: -15px;
    top: 10px;
}

label span {
    color: red;
}

form > * {
    margin: 25px auto;
}

.main-contactme button {
    margin: auto;
    position: relative;
    float: right;
    top: -20px;
    background: none;
    border: 2px solid brown;
}


/* About Me */

main.aboutme-main {
    max-width: 500px;
    margin: 80px auto;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.25em 0.12em 0.25em rgba(0,0,0,0.25);
    padding: 10px;
    border-radius: 15px;
    background: linear-gradient(to left bottom, white, #f5faf5, #dcfcfc);
}

.service-body p, .aboutme-body p {
    padding: 12px;
    box-shadow: 0.25em 0.25em 0.75em rgba(0,0,0,0.25), 0.25em 0.12em 0.25em rgba(0,0,0,0.25);
    border-radius: 10px;
    margin: 10px;
    align-self: center;
}

.service-summary p:hover, .service-body p:hover, .aboutme-body p:hover {
    transform: scale(1.05);
    transition-duration: 500ms;
    transition-timing-function: ease-out;
    background-color: azure;
	overflow: hidden;
}


.service-summary p {
    margin: 10px;
}

.aboutme-main h2.title {
    font-weight: 550;
}

button#send-mail {
    margin: 0;
}

.main-contactme .button-container {
    justify-content: flex-end;
    display: flex;
    margin: auto;
}

/* Button Effect*/

.button-container .glow {
    height: 45px;
    border: none;
    outline: none;
    color: #fff8dc;
    background: #040404;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 5px;
    margin: 20px;
    font-size: 1.5rem;
}

.button-container .glow::before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glow 20s linear infinite;
    opacity: 1;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.button-container .glow:hover::after {
    background: transparent;
}

.button-container .glow::after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

.button-container {
    display: flex;
    justify-content: center;
}

 @keyframes glow {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

